* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color: D9D9D9;
}

/* -----NAVBAR--------------------------------------- */

.navbar a {
    text-decoration: none;
    color: #1F1F1F;
}

.navbar a:hover {
    color: #B5411D;
    font-weight: 555;
}

.navbar {
    height: 65px;
    background-color: #E0E0E0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 11px;
    justify-content: end;
}

.navbar h1 {
    color: #B5411D;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.navbar ol {
    text-decoration: none;
    display: flex;
}

.navbar li {
    list-style: none;
    padding: 1rem;
}

/* -----HERO--------------------------------------- */

.hero {
    height: 90vh;
    background-image: url(./img/Laptop4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(0, 0, 0, 5);
    
    display: flex;
    justify-content: center;
}

.hero h1 {
    font-size: 31px;
    color: #fff;
    margin-top: 70px;
    padding-inline: 40px;
}

.hero span {
    color: #C85835;
}

.hero__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.hero__form {
    width: 90%;
    max-width: 450px;
    margin-top: 0px auto;
    padding: 50px;
    background-color: #fff;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.hero__form input {
    width: 310px;
    height: 42px;
    margin: 4px auto;
    color: #868080;
    border: 0.2px solid #bdb7b7;
    
}

.hero__form button {
    width: 310px;
    height: 44px;
    background-color: #1F1F1F;
    color: aliceblue;
    font-size: 10px;
    font-weight: 555;
    letter-spacing: 3px;
    border: none;
    margin: 10px auto;
}

.hero__form button:hover {
    background-color: #868080;
    color: #1F1F1F;
    cursor: pointer;
}


/* -----ABOUT--------------------------------------- */

.about {
    text-align: center;
    padding-inline: 90px;
    padding-bottom: 55px;
    background-color: #1F1F1F;
    height: 90vh;
    padding-top: 55px;
    color: #fff;
}

.about h2 {
    color: #B5411D;
    margin-bottom: 25px;
    font-size: 33px;
    font-weight: 400;
}

.about p {
    line-height: 1.5;
    font-weight: normal;
}

@media screen {
    
}


/* -----PORTAFOLIO--------------------------------------- */


.portafolio {
    text-align: center;
}

.portafolio h2 {
    padding: 15px 0;
    font-weight: medium;
}

.card {
    width: 100%;
    background-color: #696060;
    padding: 0;
    font-size: 13px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

/*Portafolio: Ejemplo 1*/

.ejemplo1 {
    width: 100%;
    height: 280px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    text-align: center;

    background-image: url(/img/Portafolio1.png);
    background-repeat: no-repeat;
    background-size: cover;
} 


.ejemplo2 {
    width: 100%;
    height: 280px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    text-align: center;

    background-color: #b05d44;
} 

.ejemplo3 {
    width: 100%;
    height: 280px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    text-align: center;

    background-color: #b05d44;
} 


.ejemplo11 {
    color: #fff;
    font-size: 13px;
    padding: 30px 0 45px 0;
    display: flex;
    flex-flow: column nowrap;
    letter-spacing: 1;
}

.img_txt {
    width: 100%;
   padding: 90px 80px;
   color: white;  
   display: none;
   font-size: 1rem;
   background-color: rgba(0, 0, 0, 0.75);
   
   top: 0;
   left: 0;
   position: relative;
   opacity: 0;
}

.ejemplo11 a {
    text-decoration: none;
    color: #cfbcbc;
}

/* Aquí empieza la funcion esp de la card*/

.ejemplo11 a:hover {
    text-decoration: underline;
    color: #b05d44;
    font-weight: 600; 
} 

.ejemplo1:hover .img_txt {
    display: block;
    opacity: 1;
 }

 .ejemplo2:hover .img_txt {
    display: block;
    opacity: 1;
 }

 .ejemplo3:hover .img_txt {
    display: block;
    opacity: 1;
 }


/* -----VENTAJAS--------------------------------------- */

.ventajas {
    height: 70vh;
    background-color: #1F1F1F;
    color: #fff;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 27px;
    height: auto;
}

.ventajas h2 {
    text-align: center;
    color: #B5411D;
    font-weight: 450;
    font-size: 33px;
    padding: 31px 0;
    letter-spacing: 2;
}

.celda {
    text-align: left;
    padding-bottom: 40px;
    font-weight: lighter;
    line-height: 1.6;
}

.celda h3 {
    font-weight: 360;
    font-size: 1.5rem;
}


/* -----SERVICIOS--------------------------------------- */

.servicios {
    text-align: center;
    height: auto;
}

.servicios h2 {
    font-weight: 600;
    font-size: 33px;
    padding: 31px 0;
}

.precio__bloque1 {
    width: 333px;
    background-color: #fff;
    margin: 0 auto;
    
}

.cards {
    display: grid;
    grid-template-rows: repeat(8, 1fr) ;
    width: 70%;
    margin: 0 auto; 
    background-color: white;
    gap: 0 0;
    margin-bottom: 33px;
}

.cards button {
    background-color: black;
    color: white;
    height: 37px;
    width: 88px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.cards button:hover {
    background-color: #07931c;
}

.item {
    background-color: black;
    border: none;
    padding: 5px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(1) {
    background-color: black;
    color: white;
    font-weight: 700;
    align-items: end;
}

.item:nth-child(2) {
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
    align-items: start;
}

.item:nth-child(3) {
    background-color: black;
    color: white;
    align-items: end;
}

.item:nth-child(4) {
    background-color: black;
    color: white;
    font-weight: 200;
    font-style: italic;
    align-items: start;
}

.item:nth-child(5) {
    background-color: #B8B8B8;
}

.item:nth-child(6) {
    background-color: white;
}

.item:nth-child(7) {
    background-color: #B8B8B8;
}

.item:nth-child(8) {
    background-color: white;
}
/* -----RECOMENDACIONES--------------------------------------- */

.recomendacion {
    height: 80vh;
    text-align: center;
    margin: 0 auto;
    background-color: #1F1F1F;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-inline: 53px;
}

.recomendacion p {
    color: white;
    margin-bottom: 38px;
    font-weight: 300;
}

.recomendacion h2 {
    color: #B5411D;
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 17px;
}

.recomendacion__circulo {
    border-radius: 50%;
    background-color: black;
    height: 97px;
    width: 97px;
    margin: 0 auto;
    margin-bottom: 38px;
}

.recomendacion button {
    height: 40px;
    background-color: #B5411D;
    border: none;
    width: 170px;
    margin: 0 auto;
    border-radius: 3%;
    font-weight: 620;
    font-size: 11px;
}

.recomendacion button:hover {
    color: white;
    background-color: #696060;
    cursor: pointer;
    box-shadow: #696060 4px;
}





/* -----CONTACTO--------------------------------------- */

.contacto__bloque1 {
    height: 45vh;
    background-color: #292929;
    color: #fff;
    text-align: left;
    font-size: 2rem;

    display: flex;
    flex-flow: column nowrap;
    padding-top: 70px;
    padding-left: 50px;   
}

hr {
    width: 239px;
}

.contacto__bloque1 h1 h6 {
    padding: 25px 0;
}

.contacto__bloque1 h6 {
    font-weight: 180;
    font-size: 1.9rem;
    line-height: 1.5;
    padding: 7px 0;
}

/* -----CONTACTO-FORM--------------------------------------- */

.contacto__bloque2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 66px 55px;
}

.contacto__bloque2 h3 {
    margin-bottom: 15px;
    font-weight: 400;
}

.contacto__bloque2 input {
    border: none;
    color: #696060;
}

.inputdoble {
    width: 49%;
    height: 33px;
    display: inline;
}

.inputmsj {
    margin-top: 5px;
    width: 100%;
    height: 100px;
    margin-bottom: 11px;
}

.contacto__bloque2 button{
    background-color: #1F1F1F;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 9px;
}

.contacto__bloque2 button:hover {
    cursor: pointer;
    background-color: #868080;
}


/* -----FOOTER--------------------------------------- */

footer {
    background-color: #292929;
    color: #B5411D;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    font-weight: 333;
    font-size: 12px;
    letter-spacing: 3.3;
}

footer a {
    text-decoration: none;
    color: #B5411D;
}
